section {
  display: block;
  border: solid lightslategray;
  height: max-content;
}

p {
  margin: 10px;
  background-color: lightslategray;
  padding: 10px;
}

#myGrid {
  border: solid slategrey;
  margin: 20px;
  height: 400px;
  width: 600px;
}

#myChart {
  margin: 20px;
  border: solid slategrey;
  height: 400px;
  width: 600px
}

#myLineChart {
  margin: 20px;
  border: solid slategrey;
  height: 400px;
  width: 600px
}

.invisible {
  display: none;
}

.label {
  margin: 10px;
  padding: 5px
}

.precision {
  background-color: whitesmoke;
}

.toolbar {
  background-color: cadetblue
}

.default-chart-tooltip {
  color: brown
}

